{% extends 'base.html.twig' %}

{% block content %}
    <div class="ticket-container">
        <div class="ticket-container__title">{{ ticket.title }}</div>
        <div class="ticket-container__description">{{ ticket.description }}</div>
    </div>
{% endblock %}