{% extends 'base.html.twig' %}

{% block title %}Mes tickets{% endblock %}

{% block content %}
    <div class="tickets-container">
        <div class="tickets-container__title">Mes tickets</div>
        <div class="tickets-container__grid">
            {% for ticket in tickets %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ ticket.title }}</h5>
                        <p class="card-text">{{ ticket.description }}</p>
                        <a class="btn btn-primary" href="/ticket/{{ ticket.id }}">Accéder</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        Ajouté le {{ ticket.createdAt|date('d/m/Y à H:i') }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}