{% extends 'base.html.twig' %}

{% block content %}
    {% for ticket in tickets %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ ticket.title }}</h5>
                <p class="card-text">{{ ticket.description }}</p>
            </div>
            <div class="card-footer text-body-secondary">
                {{ ticket.createdAt|date('d/m/Y à H:i') }}
            </div>
        </div>
    {% endfor %}
{% endblock %}